.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/node_modules/**
!node_modules/iconv-lite/**
!node_modules/jschardet/**
!node_modules/detect-file-encoding-and-language/**
!node_modules/safer-buffer/**
**/.DS_Store
.git/**
.gitattributes
.gitignore
*.vsix
npm-debug.log
yarn-error.log 